@charset "utf-8";
/* CSS Document */

/*======================================================================
	reset 2015-3-25 11:20:42
======================================================================*/
html,body,dl,dt,dd,ul,ol,li,pre,form,fieldset,blockquote,p,h1,h2,h3,h4,h5,h6{padding:0;margin:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:inherit;}
img,fieldset,abbr,acronym{border:0;}
ol,ul{list-style:none;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
q:before,q:after{content:'';}
a{outline:none;/*firefox*/ hide-focus:expression(this.hideFocus=true);/*ie*/}
a{text-decoration:none;}
a:hover{text-decoration:underline; }
.clearfix{display:block;zoom:1;}
.clearfix:after{content:".";display:block;visibility:hidden;height:0;clear:both;}
*{	
	-moz-box-sizing: content-box;  /*Firefox3.5+*/
	-webkit-box-sizing: content-box; /*Safari3.2+*/
	-o-box-sizing: content-box; /*Opera9.6*/
	-ms-box-sizing: content-box; /*IE8*/
	box-sizing: content-box; /*W3C标准(IE9+，Safari5.1+,Chrome10.0+,Opera10.6+都符合box-sizing的w3c标准语法)*/
	font-family:"Helvetica Neue", Helvetica, Arial, "Microsoft YaHei","\5fae\8f6f\96c5\9ed1", sans-serif;
}
img{ vertical-align:middle;}
body{font-size:14px; line-height:1.42857; color:#606060;}
table {border-collapse: collapse; border-spacing: 0;}
td,th {padding: 0;}
